body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-background:linear-gradient(to right, darkblue, lightblue);
    -webkit-background: linear-gradient(to right, darkblue, lightblue);
    -moz-background: linear-gradient(to right, darkblue, lightblue);
    background: linear-gradient(to right, darkblue, lightblue);
}
h1{
  animation:
  pulse 3s ease infinite alternate,
  nudge 5s linear infinite alternate;
  border: 10px;
  margin: 2px;
  padding: 2px;
  border-radius: 100px;
}
@keyframes pulse {
  0%, 100%{

  }80% {
  
  }
}
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(-100PX, 0);
  }
}


