body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-background:linear-gradient(to right, whitesmoke, pink);
    -webkit-background: linear-gradient(to right, whitesmoke, pink);
    -moz-background: linear-gradient(to right, whitesmoke, pink);
    background: linear-gradient(to right, whitesmoke, pink);
}
